<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- Google -->
	<key>GIDClientID</key>
	<string>588874999889-9lsn2j6v38uotqkrt7o2375ivolql6vp.apps.googleusercontent.com</string>

	<!-- Facebook -->
	<key>FacebookAppID</key>
	<string>1462206525624291</string>

	<key>FacebookDisplayName</key>
	<string>PetCareApp</string>

	<!-- URL Schemes -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.588874999889-9lsn2j6v38uotqkrt7o2375ivolql6vp</string>
				<string>fb1462206525624291</string>
			</array>
		</dict>
	</array>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

</dict>
</plist>